<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="True" name="HandheldFriendly" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="viewport" content="width=device-width" />

<title>{{ page.title }}</title> {% if page.description %}
<meta name="description" content="{{ page.description }}">
{% endif %}
<meta name="author" content="{{ site.author.name }}" />


<!--*************************
*                           *
*         CSS FILES         *
*                           *
************************* -->

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!-- Due to IE8 inabillity to load multiple font weights from Google Fonts, we need to import them separately -->
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300" /> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:700" /> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:800" />
<![endif]-->

<!-- Font Awesome -->
<link href="{{ ASSET_PATH }}/css/font-awesome.min.css" rel="stylesheet">

<!-- edit the value to change the skin color -->
<link rel="stylesheet" href="{{ ASSET_PATH }}/css/skins/tangerine.css" />
<!-- used for animation effects on elements -->
<link rel="stylesheet" href="{{ ASSET_PATH }}/css/animate.min.css" />
<!-- styling for Nivo Lightbox gallery -->
<link rel="stylesheet" href="{{ ASSET_PATH }}/css/nivo-lightbox.css" />
<link rel="stylesheet" href="{{ ASSET_PATH }}/css/default.css" />
<!-- styles for the Revolution Slider -->
<link rel="stylesheet" href="{{ ASSET_PATH }}/plugins/rs-plugin/css/settings.css" media="screen" />
<!--imports the media queries css file-->
<link rel="stylesheet" href="{{ ASSET_PATH }}/css/responsive.css" />
</head>


<!--*************************
*                           *
*      JAVASCRIPT FILES     *
*                           *
************************* -->

<!-- imports modernizr plugin for detecting browser features -->
<script src="{{ ASSET_PATH }}/js/modernizr.custom.js"></script>

<!--[if IE 8]>
    <link href="{{ ASSET_PATH }}/css/ie8.css" rel="stylesheet" />
    <script src="{{ ASSET_PATH }}/js/respond.js"></script>
<![endif]-->


<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <header id="header">
        <div class="container-center cf">
            <div class="logo">
                <a href="index.html"><img src="{{ ASSET_PATH }}/img/logo.png" alt="Logo Estimation" /></a>
            </div>
            <!-- end logo -->

            <nav id="main-navigation" class="navigation cf">
                <ul>
                    <li><a class="active-nav" href="index.html">Home<span>Description Text</span></a>
                        <ul>
                            <li><a href="index-ver-2.html">Homepage 2</a></li>
                            <li><a href="index-ver-3.html">Homepage 3</a></li>
                            <li><a href="index-ver-4.html">Homepage 4</a></li>
                            <li><a href="index-flex-content.html">Flex Content Slider</a></li>
                            <li><a href="index-flex-image.html">Flex Image Slider</a></li>
                            <li><a href="index-nav-light.html">Navigation Style 2</a></li>
                            <li><a href="index-nav-simple.html">Navigation Style 3</a></li>
                        </ul></li>
                    <li><a href="portfolio-4.html">Portfolio<span>Description Text</span></a>
                        <ul>
                            <li><a href="portfolio-2.html">2 Columns</a></li>
                            <li><a href="portfolio-3.html">3 Columns</a></li>
                            <li><a href="portfolio-4.html">4 Columns</a></li>
                            <li><a href="portfolio-single.html">Portfolio Single Page</a></li>
                        </ul></li>
                    <li><a href="about.html">Pages<span>Description Text</span></a>
                        <ul>
                            <li><a href="shop-sidebar.html">Shop</a>
                                <ul>
                                    <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                                    <li><a href="shop-3-col.html">Shop 3 Columns</a></li>
                                    <li><a href="shop-4-col.html">Shop 4 Columns</a></li>
                                    <li><a href="product-page.html">Product Page</a></li>
                                    <li><a href="product-page-sidebar.html">Product Page Sidebar</a></li>
                                    <li><a href="cart.html">Shopping Cart</a></li>
                                </ul></li>
                            <li><a href="about-full.html">About - Full</a></li>
                            <li><a href="services-full.html">Services</a></li>
                            <li><a href="team.html">Meet The Team</a></li>
                            <li><a href="404.html">404 Page</a></li>
                            <li><a href="faq.html">FAQ Page</a></li>
                            <li><a href="sidebar-alt.html">Sidebar Title Alt. Icon</a></li>
                            <li><a href="sidebar-left.html">Sidebar Left</a></li>
                        </ul></li>
                    <li><a href="elements.html">Elements<span>Description Text</span></a>
                        <ul>
                            <li><a href="elements.html">Page Elements</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="page-title-2.html">Page Titles</a>
                                <ul>
                                    <li><a href="page-title-2.html">Page Title 2</a></li>
                                    <li><a href="page-title-3.html">Page Title 3</a></li>
                                    <li><a href="page-title-4.html">Page Title 4</a></li>
                                    <li><a href="page-title-blank.html">Page Title No Bg</a></li>
                                </ul></li>
                            <li><a href="pricing-tables.html">Pricing Tables</a></li>
                            <li><a href="grid.html">Column Layout</a></li>
                        </ul></li>
                    <li><a href="blog.html">Blog<span>Description Text</span></a>
                        <ul>
                            <li><a href="blog.html">Blog Classic</a> % include JB/analytics %}
                            <li><a href="blog-full.html">Blog Full Width</a></li>
                            <li><a href="blog-2.html">Blog Small Image</a></li>
                            <li><a href="blog-single.html">Blog Post Right Sidebar</a></li>
                            <li><a href="blog-single-full.html">Blog Post Full Width</a></li>
                        </ul></li>
                    <li><a href="contact.html">Contact<span>Description Text</span></a></li>
                </ul>
            </nav>
        </div>
        <!-- end container-center -->
    </header>

    {{ content }}
    
    <footer id="footer" class="content">
        <div class="footer-main container-center">
            <div class="col-row">

                <div class="one-fourth">
                    <div class="logo">
                        <a href="index.html"><img src="{{ ASSET_PATH }}/img/footer-logo.png" alt="Logo Estimation" /></a>
                    </div>
                    <!-- end logo -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet purus</p>

                    <ul class="social-links-square-2 cf">
                        <li title="Facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li title="Twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li title="Skype"><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li title="Flickr"><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li title="Instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li title="Dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <!-- end  -->

                <div class="one-fourth cf">
                    <div class="contact-info">
                        <h4>Contact Details</h4>

                        <strong>Address:</strong> <br /> 3607 Terra Street<br /> WA 98240<br /> <br /> <strong>Phone:</strong> 360-321-1231 <br /> <strong>Fax:</strong> 360-421-1231 <br /> <br /> <strong>E-mail:</strong> <a href="#">johndoe@ipsum.com</a> <br /> <strong>Website:</strong> <a href="#">www.ipsum.com</a>
                    </div>
                    <!-- end contact-info -->
                </div>
                <!-- end  -->

                <div class="one-fourth">
                    <h4>Latest Blog Posts</h4>
                    <ul class="latest-blog-posts">
                        <li class="cf">
                            <div class="blog-icon">
                                <i class="fa fa-film"></i>
                            </div>
                            <div class="post-details">
                                <h5>
                                    <a href="#">Wheel of Time</a>
                                </h5>
                                <span class="post-date">August 18, 2013</span>
                            </div>
                        </li>
                        <li class="cf">
                            <div class="blog-icon">
                                <i class="fa fa-picture-o"></i>
                            </div>
                            <div class="post-details">
                                <h5>
                                    <a href="#">The Soulforged</a>
                                </h5>
                                <span class="post-date">August 18, 2013</span>
                            </div>
                        </li>
                        <li class="cf">
                            <div class="blog-icon">
                                <i class="fa fa-picture-o"></i>
                            </div>
                            <div class="post-details">
                                <h5>
                                    <a href="#">Mordred's Song</a>
                                </h5>
                                <span class="post-date">August 18, 2013</span>
                            </div>
                        </li>
                    </ul>

                </div>
                <!-- end  -->

                <div class="one-fourth">
                    <h4>Flickr Photostream</h4>

                    <div class="flickr-images"></div>

                </div>
                <!-- end  -->

            </div>
            <!-- end col-row -->

            <div class="separator-1"></div>
            <!-- end separator -->

            <div class="col-row">

                <div class="one-fourth">
                    <h4>Useful Links</h4>
                    <ul class="footer-links">
                        <li><i class="fa fa-angle-right"></i><a href="#">Fusce Scelerisque</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Suspendisse Elementum</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Mauris Lorem Velit</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Duis Necpurus Tellus</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Lorem Ipsum</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Pellentesque dapibus</a></li>
                    </ul>
                </div>

                <div class="one-fourth">
                    <h4>More Useful Links</h4>
                    <ul class="footer-links">
                        <li><i class="fa fa-angle-right"></i><a href="#">Fusce Scelerisque</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Suspendisse Elementum</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Mauris Lorem Velit</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Duis Necpurus Tellus</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Lorem Ipsum</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Pellentesque dapibus</a></li>
                    </ul>
                </div>

                <div class="one-fourth">
                    <h4>Even More Useful Links</h4>
                    <ul class="footer-links">
                        <li><i class="fa fa-angle-right"></i><a href="#">Fusce Scelerisque</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Suspendisse Elementum</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Mauris Lorem Velit</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Duis Necpurus Tellus</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Lorem Ipsum</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Pellentesque dapibus</a></li>
                    </ul>
                </div>

                <div class="tag-cloud one-fourth cf">
                    <h4>Tag Cloud</h4>
                    <a href="#">Web Design</a> <a href="#">Graphic Design</a> <a href="#">Design</a> <a href="#">Video</a> <a href="#">Marketing</a> <a href="#">SEO</a> <a href="#">Logo</a> <a href="#">Animation</a> <a href="#">Responsive</a> <a href="#">jQuery</a> <a href="#">PHP</a>
                </div>

            </div>
            <!-- end col-row -->

        </div>
        <!-- end footer-main -->

        <div class="footer-bottom container-center cf">

            <div class="bottom-left">
                <p class="copyright">Copyright &copy; 2014 Estimation. All rights reserved</p>
            </div>
            <!-- end bottom-left -->

            <div class="bottom-right">
                <nav>
                    <ul id="footer-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="portfolio-4.html">Portfolio</a></li>
                        <li><a href="services-full.html">Services</a></li>
                        <li><a class="active" href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- end bottom-right -->

        </div>
        <!-- end footer-bottom -->
    </footer>

    <div class="scroll-top">
        <a href="#"><i class="fa fa-angle-up"></i></a>
    </div>

    <!--*************************
*                           *
*      JAVASCRIPT FILES     *
*                           *
************************* -->

    <!--imports jquery-->
    <script src="{{ ASSET_PATH }}/js/jquery-1.10.2.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/jquery-migrate-1.1.0.min.js"></script>

    <!-- used for the contact form -->
    <script src="{{ ASSET_PATH }}/js/jquery.form.js"></script>
    <!-- used for the the fun facts counter -->
    <script src="{{ ASSET_PATH }}/js/jquery.countTo.js"></script>
    <!-- for displaying flickr images -->
    <script src="{{ ASSET_PATH }}/js/jflickrfeed.min.js"></script>
    <!-- used to trigger the animations on elements -->
    <script src="{{ ASSET_PATH }}/js/waypoints.min.js"></script>
    <!-- used to stick the navigation menu to top of the screen on smaller displays -->
    <script src="{{ ASSET_PATH }}/js/waypoints-sticky.min.js"></script>
    <!-- used for rotating through tweets -->
    <script src="{{ ASSET_PATH }}/js/vTicker.js"></script>
    <!-- imports jQuery UI, used for toggles, accordions, tabs and tooltips -->
    <script src="{{ ASSET_PATH }}/js/jquery-ui-1.10.3.custom.min.js"></script>
    <!-- used for smooth scrolling on local links -->
    <script src="{{ ASSET_PATH }}/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <!-- used for opening images in a Lightbox gallery -->
    <script src="{{ ASSET_PATH }}/js/nivo-lightbox.min.js"></script>
    <!-- used for displaying tweets -->
    <script src="{{ ASSET_PATH }}/js/jquery.tweet.js"></script>
    <!-- flexslider plugin, used for image galleries (blog post preview, portfolio single page) and carousels -->
    <script src="{{ ASSET_PATH }}/js/jquery.flexslider-min.js"></script>
    <!-- used for sorting portfolio items -->
    <script src="{{ ASSET_PATH }}/js/jquery.isotope.js"></script>
    <!-- for dropdown menus -->
    <script src="{{ ASSET_PATH }}/js/superfish.js"></script>
    <!-- for detecting Retina displays and loading images accordingly -->
    <script src="{{ ASSET_PATH }}/js/retina-1.1.0.min.js"></script>
    <!-- used for sharing post pages -->
    <script src="{{ ASSET_PATH }}/js/jquery.sharrre.min.js"></script>
    <!-- easing plugin for easing animation effects -->
    <script src="{{ ASSET_PATH }}/js/jquery-easing-1.3.js"></script>
    <!-- Slider Revolution plugin -->
    <script src="{{ ASSET_PATH }}/plugins/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="{{ ASSET_PATH }}/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!--imports custom javascript code-->
    <script src="{{ ASSET_PATH }}/js/custom.js"></script>

    {
</body>
</html>
